/*
 * Define application theme
 *
 * See the documentation for details:
 * https://docs.webforj.com/docs/styling/overview
 */

/* :root {
  --dwc-color-primary-seed: #008060;
} */

dwc-app-layout {
  --dwc-app-layout-drawer-width: 18em;
  --dwc-app-layout-header-height: 4rem;
}

dwc-app-layout::part(content) {
  background: var(--dwc-surface-3);
}

dwc-app-layout:not([drawer-popover])::part(drawer-control) {
  background: var(--dwc-surface-2);
}

dwc-app-layout::part(drawer-header) {
  border-bottom: 0;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--dwc-border-color) 20%,
    var(--dwc-border-color) 80%,
    transparent
  );
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 1px;
}
